<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            font-family: 'Segoe UI';
            border-collapse: collapse;
            border: 1px solid gray;
            margin-top: 10px;
            width: 100%;
            text-align: center;
            background: dimgray;
            color: white;
        }

        td {
            border-top: 1px solid gray;
        }

        .red {
            background-color: red;
        }
    </style>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h2>Пошук</h2>
        <input type="text" v-model="searchName">
        <table>
            <thead>
                <th>ПІБ</th>
                <th>Група</th>
                <th>Рік народження</th>
                <th>Здав ПР</th>
            </thead>
            <tr v-for="st in students"
                :class="st.name.toLowerCase().includes(searchName.toLowerCase()) && searchName != '' ? 'red' : ''">
                <td>{{st.name}}</td>
                <td>{{st.group}}</td>
                <td>{{st.birth}}</td>
                <td><input type="checkbox" v-model="st.passed"></td>
                <td><button @click="delStudent(st.id)">Вилалити</button></td>
            </tr>
        </table>
    </div>
    <script>
        var studentsArray = [
            {
                "id": 0,
                "name": "Григорій",
                "group": "РПЗ 25 2/9",
                "birth": 2010,
                "passed": false,
            },
            {
                "id": 1,
                "name": "Микола",
                "group": "РПЗ 25 1/9",
                "birth": 2010,
                "passed": false,
            },
            {
                "id": 2,
                "name": "Кирило",
                "group": "РПЗ 25 1/9",
                "birth": 2009,
                "passed": true,
            },
        ]

        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    students: studentsArray,
                    searchValue: "",
                    searchName: ""
                }
            },
            methods: {
                delStudent (id) {
                    this.students = this.students.filter(element => {
                        return element.id != id;
                    })
                }
            }
        }).mount('#app')
    </script>
</body>

</html>