<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            font-family: 'Segoe UI';
            border-collapse: collapse;
            border: 1px solid gray;
            margin-top: 10px;
            width: 100%;
            text-align: center;
            background: dimgray;
            color: white;
        }
        td {
            border-top: 1px solid gray;
        }
        .red {
            background-color: red;
        }
    </style>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h2>Пошук</h2>
        <input type="text" v-model="searchName">
        <div>Кількість студентів: {{studentCount}}</div>
        <table>
            <thead>
                <th>ПІБ</th>
                <th>Група</th>
                <th>Рік народження</th>
                <th>Здав ПР</th>
            </thead>
            <tr v-for="st in students" :class="st.name.toLowerCase().includes(searchName.toLowerCase()) && searchName != '' ? 'red' : ''">
                <td>{{st.name}}</td>
                <td>{{st.group}}</td>
                <td>{{st.birth}}</td>
                <td><input type="checkbox" v-model="st.passed"></td>
                <td><button @click="delStudent(st.id)">Вилалити</button></td>
            </tr>
        </table>
        <div>
            <label> ПІБ: </label><input type="text" v-model="studentForm.name">
            <label> Група: </label>
            <select v-model="studentForm.group">
                <option>РПЗ 25 1/9</option>
                <option>РПЗ 25 2/9</option>
            </select>
            <label> Рік народження: </label><input type="text" v-model="studentForm.birth">
            <label> Здав ПР: </label><input type="checkbox" v-model="studentForm.passed">
            <button @click="addStudent()">Додати</button>
        </div>
    </div>
    <script>
        var studentsArray = [
            {
                "id": 0,
                "name": "Григорій",
                "group": "РПЗ 25 2/9",
                "birth": 2010,
                "passed": false,
            },
            {
                "id": 1,
                "name": "Микола",
                "group": "РПЗ 25 1/9",
                "birth": 2010,
                "passed": false,
            },
            {
                "id": 2,
                "name": "Кирило",
                "group": "РПЗ 25 1/9",
                "birth": 2009,
                "passed": true,
            },
        ]
        var newStudentArray = {
            name: "",
            group: "",
            birth: 0,
            passed: false,
        }

        const { createApp, ref, computed } = Vue;
        createApp({
            setup() {
                const students = ref(studentsArray);
                const searchValue = ref("");
                const searchName = ref("");
                const studentForm = ref(newStudentArray);
                const studentCount = computed(() => {
                    return students.value.length;
                });

                delStudent = (id) => {
                    students.value = students.value.filter( element => {
                        return element.id != id;
                    })
                }
                addStudent = () => {
                    studentCount = students.value.push({ "id": students.value[students.value.length - 1].id + 1, "name": studentForm.value.name, "group": studentForm.value.group, "birth": studentForm.value.birth, "passed": studentForm.value.passed });
                }
                return { students, searchValue, searchName, studentForm, delStudent, addStudent }
            }
        }).mount('#app')
    </script>
</body>
</html>